.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,#ffffff 30%,#eeaeca);
}

.wrapper {
    display: flex;
    margin-bottom: 150px;
    flex-direction: column;
    color: white;
    height: 95vh;
    width: 50%;
    margin-top: 150px;
    border-radius: 5%;
    background: linear-gradient(to bottom right, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
    padding: 5%;
    font-size: 40px;
}

.titleBox {
    height: 10%;
    border-bottom: 1px solid white;
}

.contentContainer{
    height: 90%;
    display: flex;
    flex-direction: column;
    
}

.contentInfo {
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 1px solid white;
}

.infoText {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.contentList {
    height: 90%;
}

.contentWrapper{
    height: 10%;
    border-bottom: 0.5px solid lightgray;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 15px;
}

.rankContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.singContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.singBox{
    padding-top: 15px;
    width:70%;
    height: 100%;
    white-space: nowrap;   
    overflow: hidden;        
    text-overflow: ellipsis;
}

.authorBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singImgBox {
    display: flex;
    align-items: center;
}

.singImg {
    width: 45px;
    height: 45px;
}

.albumContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.album {
    width: 70%;
    white-space: nowrap;   
    overflow: hidden;        
    text-overflow: ellipsis;

}

.playIconBox {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    
}

.playIcon {
    color: lightgreen;
    font-size: 20px;
    cursor: pointer;
}

