
.boardContentContainer {
    width: 65%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.boardContentTop {
    display: flex;
    margin-bottom: 10px;
}

.boardContentId{
    width: 10%;
    font-size: 15px;
}

.boardIconContainer {
    width: 79%;
    display: flex;
    flex-direction: row-reverse;
}

.boardIcon{
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.2s;
}

.boardIcon:hover{
    transform: scale(1.1);
}

.boardIcon:active{
    transform: scale(1.0);
}

.boardContentBox {
    font-size: 14px;
}